@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kalam&family=Libre+Baskerville&display=swap');


body{
   font-family: 'Libre Baskerville', serif; 
   background-image: linear-gradient(#f0ede5, #42ad03);
   color: navy;
   min-height: 100vh;
}
h2{
    font-weight: 500;
}
.over-flow{
    overflow: hidden;
}

.container-fluid{/*might add padding later*/
    overflow: hidden;

}
.carousel-indicators li{ /*Added to remove white carosel markers below each image */
    width: 0px;
    height: 0px;
}
.carousel-indicators{ /*Added so that the btn is clickable on all of it's surface*/
    position: relative;
}
.carousel-control-prev,
.carousel-control-next {
    bottom: auto;
}
/*----------------------------------Navbar---------*/
.linglanglogo {
  height: 60px;
  width: 60px;
  padding: 5px;
  margin: 5px;
}

.linglang:hover {
  color: #fafafa;
  transform: scale(1.2);
}

.linglang-hero {
  height: 80px;
  width: 80px;
  padding: 5px;
}
.nav-link{
    border-radius: 20%;
}
.nav-link:hover{
    border-radius: 50%;
    background: rgba(17, 29, 204);
    color: #fafafa;
}

.bg-color-navbar {
  background: rgb(6 ,21, 104);
  box-shadow: 2px 2px white;
}

.nav-text-color {
  color: #00ff0d;
}

.linglanglogo{
     background: #00ff0d;
     border-radius: 10%;
}
.linglanglogo-hero{
     background: #00ff0d;
     border-radius: 10%;
}

.navbar-toggler {
  color: #000;
}

.navbar-nav .nav-link {
  margin-left: 20px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand:hover {
  color: #fafafa;
}

.book-button-nav {
  background-image: linear-gradient(to right, rgb(50, 69, 175) , rgb(17, 20, 204));
  color: #00ff0d;;
  transition: all 0.3s;
  border-radius: 5%;
  margin-right: 20px;
 padding: .5rem .5rem;
}

.dropdown-menu{
    overflow: visible;
    background-color: rgba(0,0,0,0);
    border: none;
    
}
.dropdown-item {
    overflow: visible;
    background-image: linear-gradient(to right, rgb(50, 69, 175) , rgb(17, 20, 204));
    color: #fafafa;
     text-shadow: 2px 2px 4px #000000;
    
}
.dropdown-item:hover{
    color:#00ff0d;
}
.book-button-nav:hover {
  border-radius: 50%;
    background: rgba(17, 29, 204);
  color: #fafafa;
  transform: scale(1.2);
}

/*----------------------------------The Welcome section----------*/
.welcome-section {
  background: url(../img/indeximgs/bluehands.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.welcome-quote{
    color: #fafafa;
    margin-top: 4rem;
    font-size: 1.2rem;
}
/*----------------------------------Try Our Game section----------*/
.btn-primary{
   background-color: rgb(6 ,21, 104);
       border-color: rgb(6 ,21, 104);
    color: #fafafa;
    transition: all 0.3s;
}
.btn-primary:hover {
  color: #fafafa;
  transform: scale(1.2);
}

/*----------------------------------The Form----------*/
.form-legal-info {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

#bookTableBox,
#orderToGoBox {
  color: #000;
  background-color: #f0ede5;
  font-family: "Raleway", sans-serif;
}

#orderToGoBox .modal-header,
#orderToGoBox .modal-footer,
#bookTableBox .modal-header,
#bookTableBox .modal-footer {
  border: none;
}

.booking-font {
 font-family: 'Libre Baskerville', serif; 
  color: #fafafa;
  font-size: 1rem;
  line-height: 2em;
  background-color: rgba(6, 21, 104, 0.5);
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  
  }

/*----------------------------Contact Section */
.email-phone {
  font-size: 1.5rem;
}

.reach-out p {
  font-family: "Caveat", cursive;
  color: navy;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0 auto;
}
/*----------------------------Sign up & Confirmation Section */

.signup-section{
  background: url(../img/indeximgs/childrenforest.jpg) no-repeat center fixed;
  background-size: cover;
  padding: 10%;
 
}
#contact{
    padding-top: 100px;
}
#signup{
    padding-top: 50px;
}

.contact-section {
 background: url(../img/indeximgs/childrenforest.jpg) no-repeat center fixed;
  background-size: cover;
  
}
 
.book-button3 { /* this is the sign up btn */
  background-color:rgb(6 ,21, 104);
  color: #fafafa;
  transition: all 0.3s;
  font-size: 40px; 
}

.book-button3:hover {
  color: #fafafa;
  transform: scale(1.2);
  font-size: 40px;
}
.linglang-confirm-logo{
     height: 180px;
  width: 180px;
  padding: 5px;
  background: #00ff0d;
  border-radius: 10%;
  margin: 20px auto;
}

.confirm-form{
    text-align: center;
}

.red-x{
    color: red;
}


/*----------------------------Sub-inquiry Section */
.linglang-subhero {
  height: 280px;
  width: 280px;
  padding: 5px;
  background: #00ff0d;
  border-radius: 10%;
  margin: 20px auto;
  
}

.sub-paragraph{
     text-align: center;
     font-size: 20px;
     color: #fafafa;

      background: url(../img/indeximgs/littlegirl.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     align-items: center;
     justify-content: center;

     position: relative;
}
.bg-square {
    background-color: rgba(6, 21, 104, 0.5);
    padding: 30px;
    font-size: 14px;
}


.book-button2{
    background-color: rgb(6 ,21, 104);
    color: #fafafa;
    font-size: 30px;
    margin: 10px;
}

.book-button2:hover{
    background-color: white;
    color: rgb(6 ,21, 104);
    font-size: 30px;
    margin: 10px;
}

/**-----------Location section--------------*/

#map {
  min-height: 410px;
  
 
  border-radius: 2%;
}
.map-section {
 background: url(../img/indeximgs/childrenforest.jpg) no-repeat center fixed;
  background-size: cover;
  
}

.email-phone{
    margin-top: 2rem;
    font-size: 100%;
    background-color: rgb(6 ,21, 104);
    color: #fafafa;
}
/**-----------Footer section--------------*/

footer{
 
  overflow: hidden;
  color: #00ff0d;
  padding: 15px;
  margin-top: 5%;
}
#footerbg{
    margin-top: 5px;
    background-color: rgb(6 ,21, 104);
}

.social-links {
    margin-top: 20px;
}
.social-links li a i {
    background-color:rgb(6 ,21, 104); 
    height: 50px;
    width: 50px;
    color: #00ff0d;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
}
.social-links li a i:hover {
  background-color: #fafafa;
}
.side-item{
    margin: 10px auto;
    
}
#remove-line{ /*To create a gap between the map and the footer*/
    border-top: 1px solid rgba(0,0,0,0);
}



/**-----------Media Query section--------------*/

@media (max-width:1024px){
   
 
.linglanglogo-hero{
    width: 40%;
    height: 40%;
 }
 }