@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kalam&family=Libre+Baskerville&display=swap');


body{
   font-family: 'Libre Baskerville', serif; 
   background-image: linear-gradient(#f0ede5, #42ad03);
   color: navy;
        
}
.over-flow{
    overflow: hidden;
}

.container-fluid{/*might add padding later*/
    

}
/*----------------------------------Navbar---------*/
.linglanglogo {
  height: 60px;
  width: 60px;
  padding: 5px;
}

.linglang:hover {
  color: #fafafa;
  transform: scale(1.2);
}

.linglang-hero {
  height: 80px;
  width: 80px;
  padding: 5px;
}
.nav-link{
    border-radius: 20%;
}
.nav-link:hover{
    border-radius: 50%;
    background: rgba(17, 29, 204);
    color: #fafafa;
}

.bg-color-navbar {
  background: rgb(6 ,21, 104);
  box-shadow: 2px 2px white;
}

.nav-text-color {
  color: #00ff0d;
}

.linglanglogo{
     background: #00ff0d;
     border-radius: 10%;
}

.navbar-toggler {
  color: #000;
}

.navbar-nav .nav-link {
  margin-left: 20px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand:hover {
  color: #fafafa;
}

.book-button-nav {
  background-image: linear-gradient(to right, rgb(50, 69, 175) , rgb(17, 20, 204));
  color: #00ff0d;;
  transition: all 0.3s;
  border-radius: 5%;
  margin-right: 20px;
 padding: .5rem .5rem;
}

.dropdown-menu{
    overflow: visible;
    background-color: rgba(0,0,0,0);
    border: none;
    
}
.dropdown-item {
    overflow: visible;
    background-image: linear-gradient(to right, rgb(50, 69, 175) , rgb(17, 20, 204));
    color: #fafafa;
     text-shadow: 2px 2px 4px #000000;
    
}
.dropdown-item:hover{
    color:#00ff0d;
}
.book-button-nav:hover {
  border-radius: 50%;
    background: rgba(17, 29, 204);
  color: #fafafa;
  transform: scale(1.2);
}



/*----------------------------------The Form----------*/
.form-legal-info {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

#bookTableBox,
#orderToGoBox {
  color: #000;
  background-color: #f0ede5;
  font-family: "Raleway", sans-serif;
}

#orderToGoBox .modal-header,
#orderToGoBox .modal-footer,
#bookTableBox .modal-header,
#bookTableBox .modal-footer {
  border: none;
}

#booking-font {
 font-family: 'Libre Baskerville', serif; 
  color: navy;
  font-size: 1.5rem;
}

/*----------------------------Contact Section */
.email-phone {
  font-size: 1.5rem;
}

.reach-out p {
  font-family: "Caveat", cursive;
  color: navy;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0 auto;
}

/**-----------Location section--------------*/

#map {
  min-height: 360px;
  margin-left: 32%;
  width: 500px;
}


/**-----------Media Query section--------------*/

@media (max-width:1024px){
   
 #map {
  min-height: 600px;
  
  margin: 5% 10% 5% 20% ;
  width: 600px;
}
}
@media (max-width:768px){
   
 #map {
  min-height: 450px;
  
  margin: 5% 10% 5% 20% ;
  width: 450px;
}
}

@media (max-width:500px){
   
 #map {
  min-height: 300px;
  
  margin: 10% 10% 10% 7% ;
  width: 300px;
}
}
@media (max-width:450px){
   
 #map {
  min-height: 280px;
  
  margin: 5% 10% 5% 17% ;
  width: 280px;
}
}

@media (max-width:411px){
   
 #map {
  min-height: 280px;
  
  margin: 5% 10% 5% 14% ;
  width: 280px;
}
}

@media (max-width:375px){
   
 #map {
  min-height: 240px;
  
  margin: 5% 10% 5% 15% ;
  width: 240px;
}
}
@media (max-width:320px){
   
 #map {
  min-height: 240px;
  
  margin: 5% 10% 5% 9% ;
  width: 240px;
}
}

@media (max-width:280px){
   
 #map {
  min-height: 240px;
  
  margin: 5% 10% 5% 2% ;
  width: 240px;
}
}
